* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #091921;
}

#navbar {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

li {
    font-size: 4rem;
    list-style: none;
}

i {
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
}

li a, #liAccount span {
    text-decoration: none;
    padding-left: 1rem;
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
}

#footer {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer ul {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
}

#footer ul li {
    font-size: 2rem;
}

#containerHomepage {
    width: 100%;
    padding: 8rem;
}

#containerHomepage h1 {
    font-size: 5rem;
    color: lightcyan;
}

#container p {
    font-size: 3rem;
    color: lightcyan;
}

#containerHomepage #content {
    margin-top: 2rem;
}

#categoryContainer {
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#categoryContainer div {
    width: 30%;
    height: 8rem;
    border: 1px solid cyan;
    border-radius: 5px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 8px cyan;
}

#categoryContainer div:hover {
    background-color: cyan;
    text-shadow: 0 0 8px #091921;
    box-shadow: 0 0 10px 3px cyan;
}

#categoryContainer a {
    color: lightcyan;
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
}

a:visited {
    color: lightcyan;
}

#containerFormInscription, #containerFormSubscription {
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-top: 4rem;
    padding: 8rem;
    background-color: #091921;
    border-radius: 15px;
    box-shadow: 0 0 15px 2px cyan;
}

#containerFormInscription form div, #containerFormSubscription form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 1rem;
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
}

#containerFormInscription form div input, #containerFormSubscription form div input {
    width: 60%;
    margin-top: 1rem;
    padding-left: 1rem;
    border: none;
    border-radius: 5px;
}

#containerFormInscription form div button, #containerFormSubscription form div button {
    padding: 1rem;
    border: 1px solid cyan;
    background-color: #091921;
    border-radius: 5px;
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
}

#containerFormInscription form div button:hover, #containerFormSubscription form div button:hover {
    background-color: cyan;
    text-shadow: 0 0 8px #091921;
    box-shadow: 0 0 10px 3px cyan;
}

#subscriptionDiv {
    text-align: center;
    color: lightcyan;
    text-shadow: 0 0 8px cyan;
    font-size: 2rem;
}

#subscriptionDiv a {
    color: darkmagenta;
    text-shadow: 0 0 8px darkmagenta;
}